.review-carousel-wrapper {
  display: flex;
  max-width: 96%;
  margin-right: 15px;
  max-height: 100%;
  justify-content: center;
  margin-bottom: 20em;
  position: relative;
}
.review-carousel-wrapper-2 {
  width: 52.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

/* header */
.stars img {
  min-height: 18px;
  padding: 0.1em;
}
.header h2 {
  font-size: var(--font-size-heading-2);
  font-weight: 700;
  margin-bottom: 0;
}
.header {
  text-align: center;
}
.header span {
  text-decoration: underline;
}
.header span:hover {
  text-decoration: none;
}

/* main */
.reviews-main {
  margin-top: 2em;
}
.rev-car {
  margin-left: 37.5%;
  display: flex;
  white-space: nowrap;
  transition: ease 400ms;
  -webkit-transition: ease 400ms;
  -moz-transition: ease 400ms;
  -ms-transition: ease 400ms;
  -o-transition: ease 400ms;
}
.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.4;
  height: 85px;
  width: 200px;
  overflow: hidden;
}

.review .stars img {
  min-height: 21px;
}
.review span:nth-child(2) {
  font-weight: 900;
  text-align: center;
}
.review span:nth-child(3) {
  text-align: center;
}
.review-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  margin: 0 0.5em 0 0.5em;
}
.faint span:nth-of-type(1) {
  font-size: 90%;
  opacity: 0.6;
}
.faint span:nth-of-type(2) {
  font-size: 75%;
  opacity: 0.35;
}
.faint {
  text-align: center;
  margin-bottom: 0.5em;
}
.review-img:hover {
  cursor: pointer;
}
.review-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 90%;
  text-decoration: underline;
}
.review-img img {
  height: 56px;
  width: 56px;
}

/* left arrow */
.left-button-2 {
  position: absolute;
  z-index: 2;
  border: none;
  background-color: #fff;
  left: 46.2%;
  opacity: 0.15;
}

.left-button-2:hover {
  cursor: pointer;
}

.Larrow-menu-right-2 {
  border: solid #333;
  border-width: 0 0.25rem 0.25rem 0;
  display: inline-block;
  padding: 0.6em;
  margin-top: 0.2em;
}
.Ldown-menu-right-2 {
  transform: rotate(134deg);
  -webkit-transform: rotate(134deg);
  -moz-transform: rotate(134deg);
  -ms-transform: rotate(134deg);
  -o-transform: rotate(134deg);
}

/* right arrow */
.right-button-2 {
  position: absolute;
  z-index: 2;
  border: none;
  background-color: #fff;
  right: 46.2%;
  opacity: 0.15;
}
.right-button-2:hover {
  cursor: pointer;
}

.Rarrow-menu-right-2 {
  border: solid #333;
  border-width: 0 0.25rem 0.25rem 0;
  display: inline-block;
  padding: 0.6em;
  margin-top: 0.2em;
}
.Rdown-menu-right-2 {
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
}

.rev-buttons {
  margin-top: 1.2em;
  display: flex;
}
