/* div inside ".centre" div which is 100vw */
.wrap-gui {
  padding: 1.8em 0;
  display: flex;
  max-width: 96%;
  margin-right: 15px;
  max-height: 100%;
  justify-content: center;
}
@media screen and (max-width: 1400px) {
  .gui-menu {
    height: 45em !important;
  }
  .equipment-overlay1 {
    height: 48.7% !important;
  }
  .bars-overlay1 {
    height: 48.7% !important;
  }
  .weights-overlay1 {
    height: 49% !important;
    top: 51.35% !important;
    width: 32.3% !important;
  }
  .sleeves-overlay1 {
    height: 49% !important;
    top: 51.35% !important;
    left: 33.9% !important;
  }
}
@media screen and (max-width: 1300px) {
  .gui-menu {
    max-height: 40em !important;
  }
  .equipment-overlay1 {
    height: 48.5% !important;
  }
  .bars-overlay1 {
    height: 48.5% !important;
    width: 24.9em !important;
    left: 67.9% !important;
  }
  .weights-overlay1 {
    height: 48.5% !important;
    top: 51.5% !important;
    width: 32.1% !important;
  }
  .sleeves-overlay1 {
    height: 48.5% !important;
    top: 51.5% !important;
  }
}
@media screen and (max-width: 1200px) {
  .gui-menu {
    height: 35em !important;
    display: grid;
    gap: 0.5em !important;
  }
  .equipment-overlay1 {
    width: 66.3% !important;
    height: 49.2% !important;
  }
  .bars-overlay1 {
    height: 49% !important;
    width: 25.5em !important;
    left: 67.3% !important;
  }
  .weights-overlay1 {
    height: 49.5% !important;
    top: 50.7% !important;
    width: 32.9% !important;
  }
  .sleeves-overlay1 {
    height: 49.5% !important;
    top: 50.7% !important;
    left: 33.7% !important;
  }
}
@media screen and (max-width: 930px) {
  .weights-overlay1 {
    width: 32.5% !important;
  }
}

@media screen and (max-width: 720px) {
  .gui-menu {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    min-height: 92em;
    gap: 0.75em;
    overflow: visible !important;
    margin-bottom: 1.5em;
  }
  .equipment {
    width: 150%;
    height: 23em;
    position: relative;
    border-radius: 0.35em;
    grid-column: 1/4;
    grid-row: 1;
    overflow: hidden;
    -webkit-border-radius: 0.35em;
    -moz-border-radius: 0.35em;
    -ms-border-radius: 0.35em;
    -o-border-radius: 0.35em;
  }
  .bars {
    left: -207%;
    width: 305%;
    height: 23em;
    position: relative;
    border-radius: 0.35em;
    grid-column: 1/4;
    grid-row: 2;
    overflow: hidden;
    -webkit-border-radius: 0.35em;
    -moz-border-radius: 0.35em;
    -ms-border-radius: 0.35em;
    -o-border-radius: 0.35em;
  }
  .weights {
    width: 305%;
    height: 23em;
    position: relative;
    border-radius: 0.35em;
    grid-row: 3;
    overflow: hidden;
    -webkit-border-radius: 0.35em;
    -moz-border-radius: 0.35em;
    -ms-border-radius: 0.35em;
    -o-border-radius: 0.35em;
  }
  .sleeves {
    width: 150%;
    left: -51%;
    height: 23em;
    position: relative;
    border-radius: 0.35em;
    grid-row: 4;
    overflow: hidden;
    -webkit-border-radius: 0.35em;
    -moz-border-radius: 0.35em;
    -ms-border-radius: 0.35em;
    -o-border-radius: 0.35em;
  }

  .equipment-overlay1 {
    width: 99.5% !important;
    border-radius: 0.35em;
    height: 23em !important;
    -webkit-border-radius: 0.35em;
    -moz-border-radius: 0.35em;
    -ms-border-radius: 0.35em;
    -o-border-radius: 0.35em;
  }
  .bars-overlay1 {
    border-radius: 0.35em;
    margin-left: -67.3%;
    top: 25.5%;
    width: 99.5% !important;
    height: 23em !important;
    -webkit-border-radius: 0.35em;
    -moz-border-radius: 0.35em;
    -ms-border-radius: 0.35em;
    -o-border-radius: 0.35em;
  }
  .weights-overlay1 {
    border-radius: 0.35em;
    left: 0% !important;
    top: 51% !important;
    width: 99.4% !important;
    height: 23em !important;
    -webkit-border-radius: 0.35em;
    -moz-border-radius: 0.35em;
    -ms-border-radius: 0.35em;
    -o-border-radius: 0.35em;
  }
  .sleeves-overlay1 {
    border-radius: 0.35em;
    top: 76.7% !important;
    height: 23em !important;
    width: 99.5%;
    left: 0% !important;
    -webkit-border-radius: 0.35em;
    -moz-border-radius: 0.35em;
    -ms-border-radius: 0.35em;
    -o-border-radius: 0.35em;
  }

  .equipment-overlay2 {
    width: 80%;
    margin-left: -0.5em;
  }
  .equipment-overlay2 div:nth-of-type(1) {
    font-weight: 700;
    font-size: var(--font-size-heading-1) !important;
  }
  .equipment-overlay2 div:nth-of-type(2) {
    line-height: 1.2;
    font-size: 1rem !important;
    font-weight: 400 !important;
  }

  .bars-overlay2 {
    width: 80%;
    margin-left: -0.5em;
  }
  .bars-overlay2 div:nth-of-type(1) {
    font-size: var(--font-size-heading-1) !important;
    font-weight: 700;
  }
  .bars-overlay2 div:nth-of-type(2) {
    line-height: 1.2;
    font-size: 1rem !important;
    font-weight: 400 !important;
  }

  .weights-overlay2 {
    width: 80%;
    margin-left: -0.5em;
  }
  .weights-overlay2 div:nth-of-type(1) {
    font-size: var(--font-size-heading-1) !important;
    font-weight: 700;
  }
  .weights-overlay2 div:nth-of-type(2) {
    line-height: 1.2;
    font-size: 1rem !important;
    font-weight: 400 !important;
  }

  .sleeves-overlay2 {
    width: 80%;
    margin-left: -0.5em;
  }
  .sleeves-overlay2 div:nth-of-type(1) {
    font-size: var(--font-size-heading-1) !important;
    font-weight: 700;
  }
  .sleeves-overlay2 div:nth-of-type(2) {
    line-height: 1.2;
    font-size: 1rem !important;
    font-weight: 400 !important;
  }
}

@media screen and (max-width: 670px) {
  .weights-overlay1 {
    top: 51.1% !important;
    margin-left: -0.1%;
    width: 99% !important;
  }
}
@media screen and (max-width: 650px) {
  .bars-overlay1 {
    top: 25.55% !important;
    margin-left: -67.2%;
    width: 99% !important;
  }
}
@media screen and (max-width: 616px) {
  .bars {
    left: -209.3% !important;
  }
  .bars-overlay1 {
    margin-left: -67.3%;
    width: 98.9% !important;
  }
  .equipment-overlay1 {
    width: 99% !important;
  }
  .weights-overlay1 {
    margin-left: -0% !important;
    width: 98.5% !important;
  }
  .weights {
    left: 1% !important;
  }
}

/* main grid div */
.gui-menu {
  width: 84.5em;
  height: 55.5em;
  display: flex;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.3em;
  overflow: hidden;
  position: relative;
}
.gui-menu img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* images divs */
.equipment {
  grid-column: 1/3;
  overflow: hidden;
}
.bars {
  grid-column: 3/4;
  overflow: hidden;
}
.weights {
  grid-column: 1/2;
  overflow: hidden;
}
.sleeves {
  grid-column: 2/4;
  overflow: hidden;
}

/* equipment image overlays */
.equipment-overlay1 {
  height: 48.9%;
  width: 66.1%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 1060px) {
  .equipment-overlay2 .m1 {
    font-size: var(--font-size-heading-medium) !important;
  }
  .equipment-overlay2 .m2 {
    font-size: var(--font-size-body-medium) !important;
  }
}

.equipment-overlay1:hover {
  cursor: pointer;
}
.equipment-overlay2 {
  position: absolute;
  color: #ffffff;
  padding: 1.9em;
  margin-right: 17em;
  overflow-wrap: break-word;
}
.equipment-overlay2:hover {
  cursor: pointer;
}
.equipment-overlay2 .m1 {
  font-size: var(--font-size-heading-large);
  font-family: Arimo, sans-serif;
  font-style: normal;
  font-weight: 700;
  margin-top: 0.5em;
  line-height: 0.4;
}
.equipment-overlay2 .m2 {
  font-size: var(--font-size-body-large);
  line-height: 1.4;
}
/* sleeves image overlays */
.sleeves-overlay1 {
  height: 48.9%;
  width: 66.1%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 51.2%;
  left: 33.8%;
}
@media only screen and (max-width: 1060px) {
  .sleeves-overlay1 {
    left: 34%;
  }
  .sleeves-overlay2 .m1 {
    font-size: var(--font-size-heading-medium) !important;
  }
  .sleeves-overlay2 .m2 {
    font-size: var(--font-size-body-medium) !important;
  }
}

.sleeves-overlay1:hover {
  cursor: pointer;
}
.sleeves-overlay2 {
  position: absolute;
  color: #ffffff;
  padding: 1.9em;
  margin-right: 17em;
  overflow-wrap: break-word;
}
.sleeves-overlay2:hover {
  cursor: pointer;
}
.sleeves-overlay2 .m1 {
  font-size: var(--font-size-heading-large);
  font-family: Arimo, sans-serif;
  font-style: normal;
  font-weight: 700;
  margin-top: -0.15em;
  margin-bottom: -0.4em;
  line-height: 1.4;
}
.sleeves-overlay2 .m2 {
  font-size: var(--font-size-body-large);
  line-height: 1.2;
}

/* bars image overlays */
.bars-overlay1 {
  height: 48.9%;
  width: 99%;
  left: 67.7%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 1060px) {
  .bars-overlay2 .m1 {
    font-size: var(--font-size-heading-3) !important;
  }
  .bars-overlay2 .m2 {
    font-size: var(--font-size-body-small) !important;
  }
}

.bars-overlay1:hover {
  cursor: pointer;
}
.bars-overlay2 {
  position: absolute;
  color: #ffffff;
  padding: 1.9em;
  margin-right: 45em;
}
.bars-overlay2:hover {
  cursor: pointer;
}
.bars-overlay2 .m1 {
  font-size: var(--font-size-heading-2);
  font-family: Arimo, sans-serif;
  font-style: normal;
  font-weight: 700;
  margin-top: 0.56em;
  line-height: 0.4;
}
.bars-overlay2 .m2 {
  font-size: var(--font-size-body-medium);
  overflow-wrap: break-word;
  line-height: 1.2;
}

/* weights image overlays */
.weights-overlay1 {
  height: 48.9%;
  width: 32.3%;
  top: 51.2%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 1060px) {
  .weights-overlay2 .m1 {
    font-size: var(--font-size-heading-3) !important;
  }
  .weights-overlay2 .m2 {
    font-size: var(--font-size-body-small) !important;
  }
}
.weights-overlay1:hover {
  cursor: pointer;
}
.weights-overlay2 {
  position: absolute;
  color: #ffffff;
  padding: 1.9em;
  margin-right: 5em;
  overflow-wrap: break-word;
}
.weights-overlay2:hover {
  cursor: pointer;
}
.weights-overlay2 .m1 {
  font-size: var(--font-size-heading-2);
  font-family: Arimo, sans-serif;
  font-style: normal;
  font-weight: 700;
  margin-bottom: -0.4em;
  line-height: 1.2;
}
.weights-overlay2 .m2 {
  font-size: var(--font-size-body-medium);
  line-height: 1.2;
}

/* text animation */
.bars-overlay2 .m1 {
  animation: fadeInAnimation ease 0.4s;
  animation-iteration-count: 1;
  -webkit-animation: fadeInAnimation ease 0.4s;
}
.bars-overlay2 .m2 {
  animation: fadeInAnimation ease 0.7s;
  animation-iteration-count: 1;
  -webkit-animation: fadeInAnimation ease 0.7s;
}
.equipment-overlay2 .m1 {
  animation: fadeInAnimation ease 0.4s;
  animation-iteration-count: 1;
  -webkit-animation: fadeInAnimation ease 0.4s;
}
.equipment-overlay2 .m2 {
  animation: fadeInAnimation ease 0.7s;
  animation-iteration-count: 1;
  -webkit-animation: fadeInAnimation ease 0.7s;
}
.sleeves-overlay2 .m1 {
  animation: fadeInAnimation ease 0.4s;
  animation-iteration-count: 1;
  -webkit-animation: fadeInAnimation ease 0.4s;
}
.sleeves-overlay2 .m2 {
  animation: fadeInAnimation ease 0.7s;
  animation-iteration-count: 1;
  -webkit-animation: fadeInAnimation ease 0.7s;
}
.weights-overlay2 .m1 {
  animation: fadeInAnimation ease 0.4s;
  animation-iteration-count: 1;
  -webkit-animation: fadeInAnimation ease 0.4s;
}
.weights-overlay2 .m2 {
  animation: fadeInAnimation ease 0.7s;
  animation-iteration-count: 1;
  -webkit-animation: fadeInAnimation ease 0.7s;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(1em);
    -webkit-transform: translateY(1em);
    -moz-transform: translateY(1em);
    -ms-transform: translateY(1em);
    -o-transform: translateY(1em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
