.login a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: var(--font-size-menu-body-small);
  text-shadow: 0.01rem 0 #fff;
  display: flex;
  align-items: center;
}

.user-image {
  max-height: 1.5em;
  padding-right: 0.4em;
}
.login {
  display: flex;
  padding-left: 4.2em;
  padding-top: 0.4em;
}

@media only screen and (max-width: 1000px) {
  .login {
    display: none;
  }
}
