.fullscreen {
  visibility: visible;
  animation: fadein1 500ms;
  opacity: 1;
  position: absolute !important;
  left: -22%;
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 500em !important;
  top: 100%;
  -webkit-animation: fadein1 500ms;
}

.fullscreen-none {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 500ms;
  transition-delay: 500ms !important;
  position: absolute !important;
  left: -22%;
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 500em !important;
  top: 100%;
  -webkit-transition: visibility 0s linear 500ms;
  -moz-transition: visibility 0s linear 500ms;
  -ms-transition: visibility 0s linear 500ms;
  -o-transition: visibility 0s linear 500ms;
}

@keyframes fadein1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menus {
  padding-top: 0.1em;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 6.73em;
}

@media only screen and (max-width: 1395px) {
  .menus {
    margin-right: 0;
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 1038px) {
  .menus {
    display: none;
  }
  .search {
    padding-top: 0.6em;
    padding-bottom: 0.6em;
  }
}

/* flex wrap movement */
@media only screen and (max-width: 1176px) {
  .sum6 {
    position: relative;
    right: 1.1em;
  }
  .dropdown6 {
    left: -1.7% !important;
  }
  .dropdown1 {
    top: 100% !important;
    left: 10.5% !important;
  }
  .dropdown2 {
    top: 100% !important;
    left: 27% !important;
  }
  .dropdown3 {
    top: 100% !important;
    left: 41.5% !important;
  }
  .dropdown4 {
    top: 100% !important;
    left: 58.2% !important;
  }
  .dropdown5 {
    top: 100% !important;
    left: 73.5% !important;
  }
}
@media only screen and (max-width: 1037px) {
  .pad {
    position: relative;
    right: 1.1em;
  }
  .dropdown6 {
    left: 6.7% !important;
  }
}

.hov {
  text-decoration: none;
  margin-bottom: 0.6em;
  padding: 0.8em 1em 0.7em 0em;
  color: #fff;
  font-weight: 900;
  text-shadow: 0.01rem 0 #fff;
  font-size: var(--font-size-menu);
}
.pad {
  padding: 0.62em 1.1em 0.8em 1.1em;
  text-decoration: none;
  margin-bottom: 0.4em;
  color: #fff;
  font-weight: 900;
  text-shadow: 0.01rem 0 #fff;
  font-size: var(--font-size-menu);
}
.menus summary {
  list-style: none;
  width: fit-content;
  padding: 0.62em 1.28em 0.8em 1.1em;
  color: #fff;
  text-shadow: 0.01rem 0 #fff;
  font-weight: 900;
  font-size: var(--font-size-menu);
}
.menus details summary:hover {
  cursor: pointer;
  background-color: rgb(216, 215, 215);
  color: #333;
}
.hov:hover {
  color: rgb(216, 215, 215);
}
.pad:hover {
  color: rgb(216, 215, 215);
}

/* arrows */
.arrow-menu {
  border: solid #fff;
  border-width: 0 0.124rem 0.124rem 0;
  display: inline-block;
  padding: 0.13em;
}
.down-menu {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* submenu arrows */
.arrow-menu2 {
  border: solid #333;
  border-width: 0 0.124rem 0.124rem 0;
  display: inline-block;
  padding: 0.11em;
  margin-bottom: 0.182em;
}
.down-menu2 {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.menuPadding {
  padding-right: 0;
}
.dropdown3 span {
  padding-left: 9rem;
}

summary span {
  margin-left: 0.5em;
  vertical-align: 0.22em;
}
summary:hover .arrow-menu {
  border-color: #333;
}

/* hover menu dropdown styling */
summary {
  margin-bottom: 0.58em;
}
details li {
  list-style: none;
  padding: 0.45rem 2rem 0.45rem 1.5625rem;
  cursor: pointer;
}
details li:hover {
  background-color: rgb(216, 215, 215);
}
details ul {
  background-color: #fff;
  position: absolute;
  margin: 0;
  padding: 0;
}
details a {
  color: #333;
  text-decoration: none;
  font-weight: 400;
}

/* dropdown placement */
.dropdown1 {
  z-index: 3;
  margin-top: 0em;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 14.7em;
  left: 8.3%;
}
.dropdown2 {
  z-index: 3;
  margin-top: 0em;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 15em;
  left: 23.6%;
}
.dropdown3 {
  z-index: 3;
  margin-top: 0em;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 15em;
  left: 36%;
}
.dropdown4 {
  z-index: 3;
  margin-top: 0em;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 14.7em;
  left: 50.6%;
}
.dropdown5 {
  z-index: 3;
  margin-top: 0em;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 14.7em;
  left: 64.2%;
}
.dropdown6 {
  z-index: 3;
  margin-top: 0em;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 14.7em;
  left: 87%;
}

/* onclick menu focus */
.menus details summary:focus {
  outline: 0.25em solid rgb(216, 215, 215, 0.7);
  outline-offset: -0.38em;
}

/* dropdown animation */
.menus details:hover ul {
  animation: drop 100ms ease-in-out;
  -webkit-animation: drop 100ms ease-in-out;
  transform-origin: top center;
}

@keyframes drop {
  0% {
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
  }
}

/* lift up animation */
.menus details ul {
  /* transform scale stopped animation from being jerky */
  transform: scale(1.05);
  animation: up 110ms ease 500ms;
  -webkit-animation: up 110ms ease 500ms;
  transform-origin: top center;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

@keyframes up {
  100% {
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
  }
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

/* submenu dropdown */
.subMenu {
  position: absolute;
  font-size: var(--font-size-body-small);
  left: 16.35em;
  top: 0em;
  z-index: 99;
  padding-top: 1rem;
  width: 14.3em;
}
