.nav-bar {
  background-color: #333;
  display: flex;
  flex-direction: column;
  padding-left: 1.25em;
  padding-right: 1.25em;
  margin-right: 15px;
}

@media only screen and (max-width: 1038px) {
  .nav-bar {
    margin-right: 0px;
  }
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.6em;
}

/* sticky sub-menu sliding animation */
.shrink-menus {
  height: 0;
  margin-right: 6.73em;
  overflow: hidden;
  animation: slide 0.2s ease;
  -webkit-animation: slide 0.2s ease;
}
@keyframes slide {
  from {
    height: 3em;
  }
  to {
    height: 0;
  }
}
