.search-logo {
  cursor: pointer;
  max-height: 40px;
  margin-right: 1.6rem;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}
.search a {
  cursor: default;
}
.search-icon {
  max-height: 2em;
}
.search {
  display: flex;
  position: relative;
  padding: 1.25em 0em 1em 0em;
  width: 71.7em;
  transition: padding 0.1s ease;
  -webkit-transition: padding 0.1s ease;
  -moz-transition: padding 0.1s ease;
  -ms-transition: padding 0.1s ease;
  -o-transition: padding 0.1s ease;
}
/* search bar on shrink */
.search-shrink {
  display: flex;
  position: relative;
  justify-content: center;
  width: 71.7em;
  padding: 0.6em 0;
  transition: padding 0.1s ease;
  -webkit-transition: padding 0.1s ease;
  -moz-transition: padding 0.1s ease;
  -ms-transition: padding 0.1s ease;
  -o-transition: padding 0.1s ease;
}

.search-shrink input {
  font-size: 1rem;
  margin: 0;
  width: 92.9%;
  box-sizing: border-box;
  padding: 0.875rem;
  vertical-align: top;
  border: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
}
.search-shrink2 {
  display: flex;
  width: 100%;
}
/* .search-shrink2 button {
  background-color: var(--jdgm-primary-color);
  width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
  margin: 0;
  padding: 0;
} */

/* .search-button button {
  background-color: var(--jdgm-primary-color);
  width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
  margin: 0;
  padding: 0;
} */
/* .search-button button:hover {
  cursor: pointer;
  background-color: #a52218;
} */

/* search button */
.button-change-search {
  position: relative;
  transition: background 0.3s;
  display: flex;
  box-shadow: none;
  padding: 1em;
  border-radius: 0.1rem;
  font-size: var(--font-size-body-smallest);
  border: none;
  background: var(--jdgm-primary-color);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-border-radius: 0.1rem;
  -moz-border-radius: 0.1rem;
  -ms-border-radius: 0.1rem;
  -o-border-radius: 0.1rem;
}
.button-change-search:hover {
  cursor: pointer;
}

.button-change-search:hover {
  background: #a52218 radial-gradient(circle, transparent 1%, #a52218 1%)
    center/15000%;
}
.button-change-search:active {
  background-color: #cc2b20;
  background-size: 100%;
  transition: background 0s;
}

.hamburger span {
  display: block;
  width: 1.4em;
  height: 0.13em;
  margin-bottom: 0.3em;
  position: relative;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 0.9em;
  margin-left: -0.31em;
  transition: margin-right 0.1s ease-in-out;
  -webkit-transition: margin-right 0.1s ease-in-out;
  -moz-transition: margin-right 0.1s ease-in-out;
  -ms-transition: margin-right 0.1s ease-in-out;
  -o-transition: margin-right 0.1s ease-in-out;
}
.hamburger2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 0.9em;
  margin-left: -0.31em;
  transition: margin-right 0.1s ease-in-out;
  -webkit-transition: margin-right 0.1s ease-in-out;
  -moz-transition: margin-right 0.1s ease-in-out;
  -ms-transition: margin-right 0.1s ease-in-out;
  -o-transition: margin-right 0.1s ease-in-out;
}
.hamburger2 span {
  display: block;
  width: 1.4em;
  height: 0.13em;
  margin-bottom: 0.3em;
  position: relative;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.hamburger2:hover {
  cursor: pointer;
}
.hamburger-shrink {
  margin-right: 0;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}
.hamburger-menu {
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: #333;
  width: 100vw;
  margin-top: 3.5em;
  margin-left: 11em;
  padding-right: 5.5em;
}
.hamburger-menu div {
  position: relative;
  width: 98.8%;
}
@media only screen and (max-width: 1395px) {
  .hamburger-menu div {
    padding: 0 2.25em;
  }
}
@media only screen and (max-width: 1238px) {
  .sum6 {
    padding-left: 0 !important;
  }
  .pad {
    padding-right: 2.15em !important;
  }
}
@media only screen and (max-width: 1176px) {
  .sum6 {
    padding-left: 1.1em !important;
  }
}
@media only screen and (max-width: 1070px) {
  .pad {
    padding-left: 0 !important;
  }
  .sum5 {
    margin-right: 2.2em;
  }
}
@media only screen and (max-width: 1110px) {
  .hamburger-menu-p2 .pad {
    padding-left: 0 !important;
  }
  .hamburger-menu-p2 .sum5 {
    margin-right: 2.2em;
  }
}
@media only screen and (min-width: 1038px) {
  .hamburger2 {
    display: none;
  }
}

.hamburger-menu-p2 {
  position: absolute;
}
.close {
  margin-left: 0.15em;
  padding-right: 0.8em;
  width: 2em;
  height: 2.6em;
  display: flex;
  align-items: center;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 23px;
  width: 2px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.close:hover {
  cursor: pointer;
}

/* end of shrink search bar animation */

.search-button {
  display: flex;
  width: 100%;
}
.search input {
  font-size: 1rem;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0.875rem;
  vertical-align: top;
  border: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
}

input::placeholder {
  opacity: 0.5;
}
.search-button input {
  outline: none;
}

/* input dropdown */
.suggestions {
  display: flex;
  z-index: 1;
  position: absolute;
  height: 299%;
  width: 78.6%;
  top: 86%;
  left: 15.1%;
  background-color: #fff;
  border: 1px solid black;
}
.suggestions-shrink {
  display: flex;
  z-index: 1;
  position: absolute;
  height: 299%;
  width: 77.6%;
  top: 93%;
  left: 16.3%;
  background-color: #fff;
  border: 1px solid black;
}
.suggestions-shrink li {
  list-style: none;
}

/* input field popup */
.suggestions-title,
.products-title {
  border-bottom: 1px solid black;
  font-weight: 500;
  color: #333;
  margin-right: 0.5rem;
  padding-bottom: 0.38rem;
}
.products-title {
  margin-bottom: 0.79rem;
}

.suggestions ul li {
  list-style: none;
  font-size: 0.9rem;
}
.suggestions ul {
  padding: 0;
  margin-left: 1.4rem;
}
.suggest {
  font-weight: 700;
}

.products {
  flex-grow: 2.2;
  margin-right: 0.6rem;
}
.popular-suggestions {
  flex-grow: 0.8;
}

/* divs for img and li text */
.icon-div {
  display: flex;
  align-items: center;
  padding-top: 0.53em;
  padding-bottom: 0.53em;
  margin-left: -0.5em;
}
.icon1 {
  margin-top: 0.28em;
}
.icon-div img {
  max-height: 1.21rem;
  padding-left: 0.5rem;
  margin-right: 0.38rem;
}

.icon-div:hover {
  cursor: pointer;
  background-color: rgb(247, 244, 244);
}

.hamburger-menu-p2 .dropdown1 {
  margin-top: 0;
  left: 23.8%;
}
.hamburger-menu-p2 .dropdown2 {
  margin-top: 0;
  left: 33.6%;
}
.hamburger-menu-p2 .dropdown3 {
  margin-top: 0;
  left: 41.4%;
}
.hamburger-menu-p2 .dropdown4 {
  margin-top: 0;
}
.hamburger-menu-p2 .dropdown5 {
  margin-top: 0;
  left: 59.2%;
}
.hamburger-menu-p2 .dropdown6 {
  margin-top: 0;
  left: 74%;
}

@media screen and (max-width: 1595px) {
  .hamburger-menu-p2 .dropdown1 {
    margin-top: 0;
    left: 19.8%;
  }
  .hamburger-menu-p2 .dropdown2 {
    margin-top: 0;
    left: 30.9%;
  }
  .hamburger-menu-p2 .dropdown3 {
    margin-top: 0;
    left: 40%;
  }
  .hamburger-menu-p2 .dropdown4 {
    margin-top: 0;
  }
  .hamburger-menu-p2 .dropdown5 {
    margin-top: 0;
    left: 60.7%;
  }
  .hamburger-menu-p2 .dropdown6 {
    margin-top: 0;
    left: 77.5%;
  }
}

@media screen and (max-width: 1550px) {
  .hamburger-menu-p2 .dropdown1 {
    margin-top: 0;
    left: 18.8%;
  }
}
@media screen and (max-width: 1510px) {
  .hamburger-menu-p2 .dropdown1 {
    margin-top: 0;
    left: 18%;
  }
}

@media screen and (max-width: 1490px) {
  .hamburger-menu-p2 .dropdown1 {
    margin-top: 0;
    left: 17.5%;
  }
  .hamburger-menu-p2 .dropdown2 {
    margin-top: 0;
    left: 29.8%;
  }
  .hamburger-menu-p2 .dropdown3 {
    margin-top: 0;
    left: 39.5%;
  }
  .hamburger-menu-p2 .dropdown4 {
    margin-top: 0;
  }
  .hamburger-menu-p2 .dropdown5 {
    margin-top: 0;
    left: 60.7%;
  }
  .hamburger-menu-p2 .dropdown6 {
    margin-top: 0;
    left: 79.5%;
  }
}

@media screen and (max-width: 1450px) {
  .hamburger-menu-p2 .dropdown1 {
    margin-top: 0;
    left: 16.8%;
  }
}

@media screen and (max-width: 1430px) {
  .hamburger-menu-p2 .dropdown1 {
    margin-top: 0;
    left: 16%;
  }
  .hamburger-menu-p2 .dropdown2 {
    margin-top: 0;
    left: 29%;
  }
  .hamburger-menu-p2 .dropdown3 {
    margin-top: 0;
    left: 39%;
  }
  .hamburger-menu-p2 .dropdown4 {
    margin-top: 0;
  }
  .hamburger-menu-p2 .dropdown5 {
    margin-top: 0;
    left: 61.9%;
  }
  .hamburger-menu-p2 .dropdown6 {
    margin-top: 0;
    left: 81%;
  }
}

@media screen and (max-width: 1393px) {
  .hamburger-menu-p2 .dropdown1 {
    margin-top: 0;
    left: 9.5%;
  }
  .hamburger-menu-p2 .dropdown2 {
    margin-top: 0;
    left: 22.8%;
  }
  .hamburger-menu-p2 .dropdown3 {
    margin-top: 0;
    left: 32.7%;
  }
  .hamburger-menu-p2 .dropdown4 {
    margin-top: 0;
    left: 44.9%;
  }
  .hamburger-menu-p2 .dropdown5 {
    margin-top: 0;
    left: 56%;
  }
  .hamburger-menu-p2 .dropdown6 {
    margin-top: 0;
    left: 75.5%;
  }
}

@media screen and (max-width: 1300px) {
  .hamburger-menu-p2 .dropdown5 {
    margin-top: 0;
    left: 60.7%;
  }
}

@media screen and (max-width: 1232px) {
  .hamburger-menu-p2 .dropdown3 {
    margin-top: 0;
    left: 35.7%;
  }
  .hamburger-menu-p2 .dropdown4 {
    margin-top: 0;
    left: 49.9%;
  }
  .hamburger-menu-p2 .dropdown5 {
    margin-top: 0;
    left: 62%;
  }
  .hamburger-menu-p2 .dropdown6 {
    margin-top: 0;
    left: 79.5%;
  }
}

@media screen and (max-width: 1230px) {
  .hamburger-menu-p2 .dropdown1 {
    top: 99.5%;
    margin-top: 0;
    left: 9.5%;
  }
  .hamburger-menu-p2 .dropdown2 {
    top: 99.5%;
    margin-top: 0;
    left: 25.8%;
  }
  .hamburger-menu-p2 .dropdown3 {
    top: 99.5%;
    margin-top: 0;
    left: 36.7%;
  }
  .hamburger-menu-p2 .dropdown4 {
    top: 99.5%;
    margin-top: 0;
    left: 50.9%;
  }
  .hamburger-menu-p2 .dropdown5 {
    top: 99.5%;
    margin-top: 0;
    left: 63.7%;
  }
  .hamburger-menu-p2 .dropdown6 {
    top: 99.5%;
    margin-top: 0;
    left: 3%;
  }
}

@media screen and (max-width: 1097px) {
  .hamburger-menu-p2 .dropdown6 {
    margin-top: 0;
    left: 10% !important;
  }
}

@media screen and (max-width: 1395px) {
  .hamburger-menu-p2 .menuPadding {
    padding-right: 0;
    margin-left: -2.3em;
  }
  .hamburger-menu-p2 .dropdown3 span {
    padding-left: 9rem;
  }
}
