.search-logo {
  cursor: pointer;
  max-height: 40px;
  margin-right: 1.65rem;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}
.search a {
  cursor: default;
}
.search-icon {
  max-height: 2em;
}
.search {
  display: flex;
  padding: 1.25em 0em 1em 0em;
  width: 71.7em;
}
.search-button {
  display: flex;
  width: 100%;
}
.search input {
  font-size: 1rem;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0.875rem;
  vertical-align: top;
  border: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
}
.search-button button {
  background-color: var(--jdgm-primary-color);
  width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
  margin: 0;
  padding: 0;
}
.search-button button:hover {
  cursor: pointer;
  background-color: #a52218;
}
input::placeholder {
  opacity: 0.5;
}
.search-button input {
  outline: none;
}

/* input dropdown */
.suggestions {
  display: flex;
  z-index: 1;
  position: absolute;
  height: 15.3em;
  width: 55.35em;
  top: 6.5em;
  left: 10.8em;
  background-color: #fff;
  border: 1px solid black;
}

/* input field popup */
.suggestions-title,
.products-title {
  border-bottom: 1px solid black;
  font-weight: 500;
  color: #333;
  margin-right: 0.5rem;
  padding-bottom: 0.38rem;
}
.products-title {
  margin-bottom: 0.79rem;
}

.suggestions ul li {
  list-style: none;
  font-size: 0.9rem;
}
.suggestions ul {
  padding: 0;
  margin-left: 1.4rem;
}
.suggest {
  font-weight: 700;
}

.products {
  flex-grow: 2.2;
  margin-right: 0.6rem;
}
.popular-suggestions {
  flex-grow: 0.8;
}

/* divs for img and li text */
.icon-div {
  display: flex;
  align-items: center;
  padding-top: 0.53em;
  padding-bottom: 0.53em;
  margin-left: -0.5em;
}
.icon1 {
  margin-top: 0.28em;
}
.icon-div img {
  max-height: 1.21rem;
  padding-left: 0.5rem;
  margin-right: 0.38rem;
}

.icon-div:hover {
  cursor: pointer;
  background-color: rgb(247, 244, 244);
}
