/* div inside ".centre" div which is 100vw */
.carousel-outer-wrap {
  padding-bottom: 10em;
  display: flex;
  max-width: 84.5em;
  justify-content: center;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.c2 {
  background-color: #fff;
}
.outer {
  z-index: 1;
}

@media only screen and (max-width: 1120px) {
  .c1-overlay {
    width: 200px !important;
  }
  .outer {
    width: 84.5em !important;
  }
  .inner {
    width: 84.5em !important;
  }

  .carousel-inner-wrap {
    display: grid;
    grid-template-columns: repeat(5, 200px) !important;
    gap: 1.3em;
    margin-left: 8em;
  }
  .Larrow {
    display: none;
  }
  .Rarrow {
    display: none;
  }
  .left-button-opacity {
    display: none;
  }
  .right-button-opacity {
    display: none;
  }
}

.max {
  position: relative;
  max-width: 96%;
  margin-right: 15px;
}
/* main wrap div */
.carousel-inner-wrap {
  width: 100%;
  height: 27em;
  transition: height 0.5s ease;
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  gap: 1.3em;
  position: relative;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -ms-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
}

.outer {
  position: relative;
  display: flex;
  width: 253.5em;
  transition: ease 400ms;
  -webkit-transition: ease 400ms;
  -moz-transition: ease 400ms;
  -ms-transition: ease 400ms;
  -o-transition: ease 400ms;
}
.inner {
  width: 100%;
  height: 24.5em;
}
.test1 {
  position: absolute;
}
.test2 {
  position: absolute;
  left: 100%;
}
.test3 {
  position: absolute;
  left: 200%;
}
.c2-black {
  width: 100px;
  height: 100px;
  background: black;
}
/* second carousel display none */
.dis-two div:nth-of-type(2) {
  display: none;
}
.nones {
  display: none !important;
}
.text2 {
  display: none;
}

/* first image on carousel */
.c1 {
  width: 100%;
  overflow: hidden;
}
.c1 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.c1-overlay {
  position: absolute;
  background: black;
  height: 100%;
  width: 18.7%;
  background-color: rgba(0, 0, 0, 0.5);
}

.c2,
.c3,
.c4,
.c5 {
  border: 1px solid rgba(126, 126, 126, 0.16);
  box-shadow: 0 1px 4px #8080801c;
  position: relative;
}

.c1-overlay:hover {
  cursor: pointer;
}

.c1-overlay .m3 {
  padding-top: 1.7em;
  padding-left: 1em;
  color: #fff;
  font-size: var(--font-size-heading-3);
  font-weight: 700;
  font-family: Arimo, sans-serif;
}

/* c1 arrow */
.arrow-menu-right-c1 {
  border: solid #fff;
  border-width: 0 0.125rem 0.125rem 0;
  display: inline-block;
  padding: 0.2em;
  margin-top: 0.2em;
}
.down-menu-right-c1 {
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
}

.c2 {
  display: flex;
  flex-direction: column;
}
.c2 img:hover {
  cursor: pointer;
}
.c2 p {
  font-size: var(--font-size-body);
  margin: 0;
}
.c2 p:hover {
  cursor: pointer;
}
.c2:hover {
  cursor: grab;
}
.text div:nth-of-type(1):hover {
  cursor: pointer;
}
.text div:nth-of-type(2) {
  font-size: var(--font-size-body-smallest);
  color: #666;
  padding-bottom: 0.5em;
}
.text div:nth-of-type(2):hover {
  cursor: pointer;
  color: #333;
}
.text div:nth-of-type(4) {
  font-size: var(--font-size-body-smallest);
  font-size: 0.65rem;
  color: #666;
}
.text div:nth-of-type(4):hover {
  cursor: grab;
}
.text div:nth-of-type(3):hover {
  cursor: grab;
}

.c2 img {
  margin: 1em;
}

/* arrow buttons */
.Rarrow {
  z-index: 2;
  bottom: 68.3%;
  left: 101.3%;
  position: absolute;
  border: none;
  box-shadow: 0 0 0 1px #7f7f7f0d, 0 2px 5px #7f7f7f80;
  border-radius: 50%;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  height: 3.5em;
  width: 3.5em;
  padding-left: 0.1em;
  opacity: 0.6;
}
.Rarrow:hover {
  cursor: pointer;
  opacity: 1;
  scale: 1.1;
  box-shadow: 0 0 0 2px #7f7f7f0d, 0 4px 12px #7f7f7f80;
}

.Rarrow-menu-right {
  border: solid #333;
  border-width: 0 0.17rem 0.17rem 0;
  display: inline-block;
  padding: 0.5em;
  margin-top: 0.2em;
}
.Rdown-menu-right {
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
}

.Larrow {
  position: absolute;
  z-index: 2;
  border: none;
  box-shadow: 0 0 0 1px #7f7f7f0d, 0 2px 5px #7f7f7f80;
  top: 25%;
  left: -4.5%;
  border-radius: 50%;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  height: 3.5em;
  width: 3.5em;
  padding-right: 0.1em;
  opacity: 0.6;
}
.Larrow:hover {
  cursor: pointer;
  opacity: 1;
  scale: 1.1;
  box-shadow: 0 0 0 2px #7f7f7f0d, 0 4px 12px #7f7f7f80;
}

.Larrow-menu-right {
  border: solid black;
  border-width: 0 0.17rem 0.17rem 0;
  display: inline-block;
  padding: 0.5em;
  margin-top: 0.2em;
}
.Ldown-menu-right {
  transform: rotate(134deg);
  -webkit-transform: rotate(134deg);
  -moz-transform: rotate(134deg);
  -ms-transform: rotate(134deg);
  -o-transform: rotate(134deg);
}

.left-button-opacity {
  position: absolute;
  z-index: 2;
  border: none;
  box-shadow: 0 0 0 1px #7f7f7f0d, 0 2px 5px #7f7f7f80;
  top: 25%;
  left: -4.5%;
  border-radius: 50%;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  height: 3.5em;
  width: 3.5em;
  padding-right: 0.1em;
  opacity: 0.3;
}
.left-button-opacity:hover {
  cursor: default;
}

.right-button-opacity {
  z-index: 2;
  bottom: 68.3%;
  left: 101.3%;
  position: absolute;
  border: none;
  box-shadow: 0 0 0 1px #7f7f7f0d, 0 2px 5px #7f7f7f80;
  border-radius: 50%;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  height: 3.5em;
  width: 3.5em;
  padding-left: 0.1em;
  opacity: 0.3;
}
.right-button-opacity:hover {
  cursor: default;
}
.text div {
  width: 220px;
  word-wrap: break-word;
}

@media only screen and (max-width: 1385px) {
  .text div {
    width: 210px;
    word-wrap: break-word;
  }
  .c2:hover .drop1 {
    top: 88.5%;
    left: 4% !important;
  }
  .c2 .drop1 {
    top: 88.5%;
    left: 4% !important;
  }
  .c3:hover .drop1 {
    top: 79% !important;
    left: 1.3% !important;
  }
  .c3 .drop1 {
    top: 79% !important;
    left: 1.3% !important;
  }
}
@media only screen and (max-width: 1350px) {
  .c2:hover .drop1 {
    top: 88.5%;
    left: 3% !important;
  }
  .c2 .drop1 {
    top: 88.5%;
    left: 3% !important;
  }
  .c3:hover .drop1 {
    top: 79% !important;
    left: 0.4% !important;
  }
  .c3 .drop1 {
    top: 79% !important;
    left: 0.4% !important;
  }
}
@media only screen and (max-width: 1325px) {
  .c2:hover .drop1 {
    top: 88.5%;
    left: 2% !important;
  }
  .c2 .drop1 {
    top: 88.5%;
    left: 2% !important;
  }
  .c3:hover .drop1 {
    top: 79% !important;
    left: -0.5% !important;
  }
  .c3 .drop1 {
    top: 79% !important;
    left: -0.5% !important;
  }
}
@media only screen and (max-width: 1310px) {
  .c2:hover .drop1 {
    top: 88.5%;
    left: 1% !important;
  }
  .c2 .drop1 {
    top: 88.5%;
    left: 1% !important;
  }
  .c3:hover .drop1 {
    top: 79% !important;
    left: -1.6% !important;
  }
  .c3 .drop1 {
    top: 79% !important;
    left: -1.6% !important;
  }
}

@media only screen and (max-width: 1295px) {
  .text div {
    width: 190px;
    word-wrap: break-word;
  }
}
@media only screen and (max-width: 1235px) {
  .text div {
    width: 180px;
    word-wrap: break-word;
  }
}
@media only screen and (max-width: 1190px) {
  .text div {
    width: 170px;
    word-wrap: break-word;
  }
}

@media only screen and (max-width: 1500px) {
  .Rarrow {
    left: 97.3%;
  }
  .Larrow {
    left: -1%;
  }
  .left-button-opacity {
    left: -1%;
  }
  .right-button-opacity {
    left: 97.3%;
  }
}

/* slider css */
@keyframes next {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(calc(0px + var(--cardWidth)));
  }
}

@keyframes prev {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(calc(0px - 84.5em));
    -webkit-transform: translateX(calc(0px - 84.5em));
    -moz-transform: translateX(calc(0px - 84.5em));
    -ms-transform: translateX(calc(0px - 84.5em));
    -o-transform: translateX(calc(0px - 84.5em));
  }
}

.skull img {
  height: 0.9em;
  width: 1em;
  margin: 0;
}

/* carousel main images */
.img2 {
  margin: 1em;
  flex-basis: 60%;
  background-repeat: no-repeat;
  background-image: url("/home/marv/react-projects/strength-shop/src/HomePage/GuiMenuCarousel/Images/carousel-2-p2.avif");
}
.img3 {
  margin: 1em;
  flex-basis: 60%;
  background-repeat: no-repeat;
  background-image: url("/home/marv/react-projects/strength-shop/src/HomePage/GuiMenuCarousel/Images/carousel-3-p2.avif");
}
.img4 {
  margin: 1em;
  flex-basis: 60%;
  background-repeat: no-repeat;
  background-image: url("/home/marv/react-projects/strength-shop/src/HomePage/GuiMenuCarousel/Images/carousel-4.avif");
}
.img5 {
  margin: 1em;
  flex-basis: 60%;
  background-repeat: no-repeat;
  background-image: url("/home/marv/react-projects/strength-shop/src/HomePage/GuiMenuCarousel/Images/carousel-5-p1.avif");
}
.img6 {
  margin: 1em;
  flex-basis: 60%;
  background-repeat: no-repeat;
  background-image: url("/home/marv/react-projects/strength-shop/src/HomePage/GuiMenuCarousel/Images/carousel-5-p1.avif");
}
.img7 {
  margin: 1em;
  flex-basis: 60%;
  background-repeat: no-repeat;
  background-image: url("/home/marv/react-projects/strength-shop/src/HomePage/GuiMenuCarousel/Images/carousel-6-p1.avif");
}
.img8 {
  margin: 1em;
  flex-basis: 60%;
  background-repeat: no-repeat;
  background-image: url("/home/marv/react-projects/strength-shop/src/HomePage/GuiMenuCarousel/Images/carousel-7-p1.webp");
}
.img9 {
  margin: 1em;
  flex-basis: 60%;
  background-repeat: no-repeat;
  background-image: url("/home/marv/react-projects/strength-shop/src/HomePage/GuiMenuCarousel/Images/carousel-8-p1.avif");
}
.img10 {
  margin: 1em;
  flex-basis: 60%;
  background-repeat: no-repeat;
  background-image: url("/home/marv/react-projects/strength-shop/src/HomePage/GuiMenuCarousel/Images/carousel-9-p1.avif");
}
.img11 {
  margin: 1em;
  flex-basis: 60%;
  background-repeat: no-repeat;
  background-image: url("/home/marv/react-projects/strength-shop/src/HomePage/GuiMenuCarousel/Images/carousel-10-p1.webp");
}
.img12 {
  margin: 1em;
  flex-basis: 60%;
  background-repeat: no-repeat;
  background-image: url("/home/marv/react-projects/strength-shop/src/HomePage/GuiMenuCarousel/Images/carousel-10-p1.webp");
}
.img13 {
  margin: 1em;
  flex-basis: 60%;
  background-repeat: no-repeat;
  background-image: url("/home/marv/react-projects/strength-shop/src/HomePage/GuiMenuCarousel/Images/carousel-11.avif");
}
.img14 {
  margin: 1em;
  flex-basis: 60%;
  background-repeat: no-repeat;
  background-image: url("/home/marv/react-projects/strength-shop/src/HomePage/GuiMenuCarousel/Images/carousel-14.webp");
}
.img15 {
  margin: 1em;
  flex-basis: 60%;
  background-repeat: no-repeat;
  background-image: url("/home/marv/react-projects/strength-shop/src/HomePage/GuiMenuCarousel/Images/carousel-13.webp");
}

.img2,
.img3,
.img4,
.img5,
.img6,
.img7,
.img8,
.img9,
.img10,
.img11,
.img12,
.img13,
.img14,
.img15:hover {
  cursor: pointer;
}

.text {
  width: 100%;
  flex-basis: 40%;
  line-height: 1.3125;
  padding-left: 1em;
  position: fixed;
  top: 63.4%;
}

/* drop-down hover */
.c2 .drop1 {
  position: absolute;
  top: 88.5%;
  left: 5.4%;
  opacity: 1;
  animation: 0s linear 0.1s forwards fadeOut;
  -webkit-animation: 0s linear 0.1s forwards fadeOut;
}
.c3 .drop1 {
  position: absolute;
  top: 78.3% !important;
  left: 2.3%;
  opacity: 1;
  animation: 0s linear 0.1s forwards fadeOut;
  -webkit-animation: 0s linear 0.1s forwards fadeOut;
}
.c2 {
  height: 100%;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.c2:hover .drop1 {
  opacity: 0;
  transition-delay: visibility 1s;
  position: absolute;
  top: 88.5%;
  left: 5.4%;
  flex-basis: 10%;
  z-index: 50;
  animation: 0s linear 0.1s forwards fadeIn;
  -webkit-animation: 0s linear 0.1s forwards fadeIn;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.c2:hover .text {
  flex-basis: 38%;
}
.c3:hover .text {
  flex-basis: 36.4% !important;
}
.c2 {
  height: 100%;
}
.c2:hover {
  height: 111%;
  box-shadow: 1px 3px 4px 1px #8080801c;
  transition: height 0.2s ease-in-out;
  -webkit-transition: height 0.2s ease-in-out;
  -moz-transition: height 0.2s ease-in-out;
  -ms-transition: height 0.2s ease-in-out;
  -o-transition: height 0.2s ease-in-out;
}
.c3:hover {
  height: 122.5%;
  box-shadow: 1px 3px 4px 1px #8080801c;
}
.adjust:hover {
  height: 122.5%;
  box-shadow: 1px 3px 4px 1px #8080801c;
}

@media only screen and (max-width: 1120px) {
  .carousel-inner-wrap {
    height: 120% !important;
    transition: height 0.5s ease;
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
  }
  .c2 .drop1 {
    opacity: 1 !important;
    margin-top: -0.3em !important;
  }
  .c2:hover {
    height: 100% !important;
  }
  .c3:hover {
    height: 100% !important;
  }
  .img2,
  .img3,
  .img4,
  .img5,
  .img6,
  .img7,
  .img8,
  .img9,
  .img10,
  .img11,
  .img12,
  .img13,
  .img14,
  .img15 {
    background-size: 162px;
  }
  .text {
    top: 50%;
  }
}

.adjust .drop1 {
  position: absolute;
  top: 78.3% !important;
  right: 1%;
  opacity: 1;
  animation: 0s linear 0.1s forwards fadeOut;
  -webkit-animation: 0s linear 0.1s forwards fadeOut;
}

.c3:hover .drop1 {
  top: 78.3% !important;
  left: 2.3%;
}

@media only screen and (max-width: 1370px) {
  .c2:hover .drop1 {
    left: 3.8%;
  }
  .c3:hover .drop1 {
    left: 1.5%;
  }
  .c2 .drop1 {
    left: 3.8%;
  }
  .c3 .drop1 {
    left: 1.5%;
  }
}

@media only screen and (max-width: 1350px) {
  .c2:hover .drop1 {
    left: 3%;
  }
  .c3:hover .drop1 {
    left: 0.55%;
  }
  .c2 .drop1 {
    left: 3%;
  }
  .c3 .drop1 {
    left: 0.55%;
  }
}

@media only screen and (max-width: 1320px) {
  .c2:hover .drop1 {
    left: 1.5%;
  }
  .c3:hover .drop1 {
    left: -0.65%;
  }
  .c2 .drop1 {
    left: 1.5%;
  }
  .c3 .drop1 {
    left: -0.65%;
  }
}
@media only screen and (max-width: 1310px) {
  .c3:hover .drop1 {
    left: -0.2% !important;
  }

  .c3 .drop1 {
    left: -0.2% !important;
  }
}

.c2:hover .img2 {
  background-image: url("/home/marv/react-projects/strength-shop/src/HomePage/GuiMenuCarousel/Images/carousel-2-p1.avif");
}
.c2:hover .img3 {
  background-image: url("/home/marv/react-projects/strength-shop/src/HomePage/GuiMenuCarousel/Images/rsz_test.jpg");
}
.c2:hover .img4 {
  background-image: url("/home/marv/react-projects/strength-shop/src/HomePage/GuiMenuCarousel/Images/rsz_test.jpg");
}
.c2:hover .img5 {
  background-image: url("/home/marv/react-projects/strength-shop/src/HomePage/GuiMenuCarousel/Images/carousel-5-p2.avif");
}
.c2:hover .img6 {
  background-image: url("/home/marv/react-projects/strength-shop/src/HomePage/GuiMenuCarousel/Images/carousel-5-p2.avif");
}
.c2:hover .img7 {
  background-image: url("/home/marv/react-projects/strength-shop/src/HomePage/GuiMenuCarousel/Images/carousel-6-p2.avif");
}
.c2:hover .img8 {
  background-image: url("/home/marv/react-projects/strength-shop/src/HomePage/GuiMenuCarousel/Images/carousel-7-p2.avif");
}
.c2:hover .img9 {
  background-image: url("/home/marv/react-projects/strength-shop/src/HomePage/GuiMenuCarousel/Images/carousel-8-p2.avif");
}
.c2:hover .img10 {
  background-image: url("/home/marv/react-projects/strength-shop/src/HomePage/GuiMenuCarousel/Images/carousel-9-p2.avif");
}
.c2:hover .img11 {
  background-image: url("/home/marv/react-projects/strength-shop/src/HomePage/GuiMenuCarousel/Images/carousel-10-p2.webp");
}
.c2:hover .img12 {
  background-image: url("/home/marv/react-projects/strength-shop/src/HomePage/GuiMenuCarousel/Images/carousel-10-p2.webp");
}
.c2:hover .img13 {
  background-image: url("/home/marv/react-projects/strength-shop/src/HomePage/GuiMenuCarousel/Images/rsz_test.jpg");
}
.c2:hover .img14 {
  background-image: url("/home/marv/react-projects/strength-shop/src/HomePage/GuiMenuCarousel/Images/rsz_test.jpg");
}

.c2:hover .img15 {
  background-image: url("/home/marv/react-projects/strength-shop/src/HomePage/GuiMenuCarousel/Images/rsz_test.jpg");
}

svg {
  width: 0px;
  height: 21.5px;
  transition: width 0.3s ease;
  overflow: visible;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
}
.c1-overlay:hover svg {
  width: 13px;
}

.texte {
  color: #fff;
  font-weight: 400;
  font-size: var(--font-size-body);
}
.t2 {
  display: flex;
  margin-left: 1.35em;
  margin-top: -0.55em;
}
.svg {
  z-index: 3;
  padding-left: 0.6em;
}
.a-head i {
  z-index: -1;
  margin-left: -0.8em;
}
.a-head {
  padding-left: 0.4em;
}

.m3 {
  animation: fadeInAnimation ease 0.4s;
  animation-iteration-count: 1;
  -webkit-animation: fadeInAnimation ease 0.4s;
}
.m4 {
  animation: opacity ease 1.5s;
  -webkit-animation: opacity ease 1.5s;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(1em);
    -webkit-transform: translateY(1em);
    -moz-transform: translateY(1em);
    -ms-transform: translateY(1em);
    -o-transform: translateY(1em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
