.overlay {
  display: flex;
  position: absolute;
  background-color: #000000;
  opacity: 0.25;
  height: 31.6em;
  width: 100%;
}
.imageSlider {
  display: flex;
  position: relative;
  width: 95%;
  height: 100%;
  justify-content: center;
  overflow: hidden;
}

/* slider css */
.slide {
  display: inline-block;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 400ms;
  -webkit-transition: ease 400ms;
  -moz-transition: ease 400ms;
  -ms-transition: ease 400ms;
  -o-transition: ease 400ms;
  height: 31.6em;
  width: 84.4em;
}

@media only screen and (min-width: 1400px) {
  .imageSlider {
    width: auto;
  }
  .slideshowSlider img {
    height: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 720px) {
  .imageSlider img {
    width: 100%;
    height: auto;
  }
  .slideshowSlider {
    height: auto;
  }
}
@media only screen and (max-width: 1400px) {
  .overlay {
    height: 99%;
  }
}
@media only screen and (max-width: 720px) {
  .overlay {
    height: 98%;
  }
  .slideshowSlider {
    height: auto;
    margin-top: -4.1em;
  }
}
/* arrows and special offer section*/
.special-offer {
  background-color: #94140a;
  font-size: var(--font-size-button-large);
  padding: 0.85em 2.1em;
  letter-spacing: 0em;
  margin-top: 1.3em;
}
.special-offer a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
.special-offer:hover {
  background-color: #9f2821;
  cursor: pointer;
}
.arrows {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrows:hover {
  cursor: pointer;
}

.arrow-menu-left {
  border: solid #fff;
  border-width: 0 0.17rem 0.17rem 0;
  display: inline-block;
  padding: 0.6em;
}
.down-menu-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}

.arrow-menu-right {
  border: solid #fff;
  border-width: 0 0.17rem 0.17rem 0;
  display: inline-block;
  padding: 0.6em;
}
.down-menu-right {
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
}

/* arrows buttons */
.imageSlider button {
  background: none;
  width: auto;
  margin: 0;
  background: none;
  width: fit-content;
}
.left-arrow {
  margin-left: 2.93em !important;
}
.right-arrow {
  margin-right: 2.93em !important;
}

/* arrows hover */
.left-arrow:hover {
  cursor: pointer;
  scale: 1.1;
  transition: all ease-in-out 0.1s;
  -webkit-transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  -ms-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
}
.right-arrow:hover {
  cursor: pointer;
  scale: 1.1;
  transition: all ease-in-out 0.1s;
  -webkit-transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  -ms-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
}

/* dots */
.dots {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  top: 89%;
}

.slideshowDots {
  text-align: center;
}
.slideshowDot {
  display: inline-block;
  cursor: pointer;
  height: 0.5em;
  width: 0.5rem;
  margin: 0.5rem;
  background-color: darkgray;
  opacity: 0.5;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.slideshowDot.active {
  background-color: #fff;
  opacity: 1;
}
